body {
  background-image: url(images/black4.jpeg);
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-size: cover;
  font-weight: bold;
  font-size: 25px;
}

h1 {
    color: goldenrod;
    padding: 60px 0 0 10px;
    font-size: 60px;
}

#message-el {
    font-style: italic;
    padding-bottom: 30px;
}



button {
  color: rgb(7, 42, 54);
  width: 150px;
  background: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold; 
  border: none;
  border-radius: 2px;
  margin-bottom: 4px;
}
